body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);

}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.11em;
  --top-offset: 69.45vh;
  --fall-duration: 11.125s;
  --fall-delay: 2.201s;
}
.star:nth-child(2) {
  --star-tail-length: 5.7em;
  --top-offset: 52.3vh;
  --fall-duration: 8.217s;
  --fall-delay: 0.453s;
}
.star:nth-child(3) {
  --star-tail-length: 5.06em;
  --top-offset: 62.39vh;
  --fall-duration: 7.819s;
  --fall-delay: 2.265s;
}
.star:nth-child(4) {
  --star-tail-length: 7.24em;
  --top-offset: 26.16vh;
  --fall-duration: 8.037s;
  --fall-delay: 8.903s;
}
.star:nth-child(5) {
  --star-tail-length: 5.36em;
  --top-offset: 57.33vh;
  --fall-duration: 7.872s;
  --fall-delay: 0.952s;
}
.star:nth-child(6) {
  --star-tail-length: 7.05em;
  --top-offset: 55.42vh;
  --fall-duration: 10.199s;
  --fall-delay: 0.008s;
}
.star:nth-child(7) {
  --star-tail-length: 7.49em;
  --top-offset: 11.85vh;
  --fall-duration: 7.419s;
  --fall-delay: 7.462s;
}
.star:nth-child(8) {
  --star-tail-length: 5.03em;
  --top-offset: 86.12vh;
  --fall-duration: 10.735s;
  --fall-delay: 6.109s;
}
.star:nth-child(9) {
  --star-tail-length: 5.98em;
  --top-offset: 11.35vh;
  --fall-duration: 8.574s;
  --fall-delay: 1.523s;
}
.star:nth-child(10) {
  --star-tail-length: 5.78em;
  --top-offset: 0.51vh;
  --fall-duration: 7.374s;
  --fall-delay: 0.494s;
}
.star:nth-child(11) {
  --star-tail-length: 7.29em;
  --top-offset: 80.91vh;
  --fall-duration: 8.176s;
  --fall-delay: 8.703s;
}
.star:nth-child(12) {
  --star-tail-length: 7.19em;
  --top-offset: 91.52vh;
  --fall-duration: 7.514s;
  --fall-delay: 3.343s;
}
.star:nth-child(13) {
  --star-tail-length: 7.43em;
  --top-offset: 26.7vh;
  --fall-duration: 8.997s;
  --fall-delay: 6.918s;
}
.star:nth-child(14) {
  --star-tail-length: 6.5em;
  --top-offset: 38.03vh;
  --fall-duration: 9.879s;
  --fall-delay: 5.983s;
}
.star:nth-child(15) {
  --star-tail-length: 5.79em;
  --top-offset: 81.1vh;
  --fall-duration: 7.702s;
  --fall-delay: 7.43s;
}
.star:nth-child(16) {
  --star-tail-length: 5.1em;
  --top-offset: 36.88vh;
  --fall-duration: 9.574s;
  --fall-delay: 3.401s;
}
.star:nth-child(17) {
  --star-tail-length: 5.45em;
  --top-offset: 26.74vh;
  --fall-duration: 9.764s;
  --fall-delay: 9.882s;
}
.star:nth-child(18) {
  --star-tail-length: 5.91em;
  --top-offset: 35.92vh;
  --fall-duration: 11.632s;
  --fall-delay: 0.215s;
}
.star:nth-child(19) {
  --star-tail-length: 5.6em;
  --top-offset: 39.55vh;
  --fall-duration: 11.699s;
  --fall-delay: 7.436s;
}
.star:nth-child(20) {
  --star-tail-length: 7.24em;
  --top-offset: 68.01vh;
  --fall-duration: 11.718s;
  --fall-delay: 0.985s;
}
.star:nth-child(21) {
  --star-tail-length: 5.08em;
  --top-offset: 24.19vh;
  --fall-duration: 11.221s;
  --fall-delay: 6.68s;
}
.star:nth-child(22) {
  --star-tail-length: 5.93em;
  --top-offset: 71.32vh;
  --fall-duration: 11.743s;
  --fall-delay: 3.053s;
}
.star:nth-child(23) {
  --star-tail-length: 6.17em;
  --top-offset: 9.56vh;
  --fall-duration: 6.694s;
  --fall-delay: 0.023s;
}
.star:nth-child(24) {
  --star-tail-length: 6.82em;
  --top-offset: 70.65vh;
  --fall-duration: 6.811s;
  --fall-delay: 3.402s;
}
.star:nth-child(25) {
  --star-tail-length: 5.38em;
  --top-offset: 29.28vh;
  --fall-duration: 7.529s;
  --fall-delay: 4.796s;
}
.star:nth-child(26) {
  --star-tail-length: 6.09em;
  --top-offset: 82.54vh;
  --fall-duration: 7.554s;
  --fall-delay: 5.182s;
}
.star:nth-child(27) {
  --star-tail-length: 5.13em;
  --top-offset: 0.81vh;
  --fall-duration: 7.794s;
  --fall-delay: 3.185s;
}
.star:nth-child(28) {
  --star-tail-length: 6.17em;
  --top-offset: 78.26vh;
  --fall-duration: 11.767s;
  --fall-delay: 7.29s;
}
.star:nth-child(29) {
  --star-tail-length: 5.22em;
  --top-offset: 57.15vh;
  --fall-duration: 11.528s;
  --fall-delay: 0.691s;
}
.star:nth-child(30) {
  --star-tail-length: 5.88em;
  --top-offset: 63.38vh;
  --fall-duration: 7.665s;
  --fall-delay: 1.373s;
}
.star:nth-child(31) {
  --star-tail-length: 6.29em;
  --top-offset: 13.11vh;
  --fall-duration: 8.343s;
  --fall-delay: 1.585s;
}
.star:nth-child(32) {
  --star-tail-length: 6.31em;
  --top-offset: 65.79vh;
  --fall-duration: 7.765s;
  --fall-delay: 6.15s;
}
.star:nth-child(33) {
  --star-tail-length: 6.4em;
  --top-offset: 98.71vh;
  --fall-duration: 6.014s;
  --fall-delay: 3.109s;
}
.star:nth-child(34) {
  --star-tail-length: 5.37em;
  --top-offset: 44.64vh;
  --fall-duration: 7.361s;
  --fall-delay: 5.863s;
}
.star:nth-child(35) {
  --star-tail-length: 5.67em;
  --top-offset: 98.3vh;
  --fall-duration: 7.291s;
  --fall-delay: 2.874s;
}
.star:nth-child(36) {
  --star-tail-length: 7.4em;
  --top-offset: 64.85vh;
  --fall-duration: 6.76s;
  --fall-delay: 3.866s;
}
.star:nth-child(37) {
  --star-tail-length: 6.09em;
  --top-offset: 95.4vh;
  --fall-duration: 10.488s;
  --fall-delay: 0.905s;
}
.star:nth-child(38) {
  --star-tail-length: 6.22em;
  --top-offset: 47.2vh;
  --fall-duration: 8.789s;
  --fall-delay: 5.418s;
}
.star:nth-child(39) {
  --star-tail-length: 5.15em;
  --top-offset: 22.08vh;
  --fall-duration: 10.724s;
  --fall-delay: 8.926s;
}
.star:nth-child(40) {
  --star-tail-length: 6.71em;
  --top-offset: 57.84vh;
  --fall-duration: 6.237s;
  --fall-delay: 0.108s;
}
.star:nth-child(41) {
  --star-tail-length: 7.26em;
  --top-offset: 33.4vh;
  --fall-duration: 6.879s;
  --fall-delay: 1.625s;
}
.star:nth-child(42) {
  --star-tail-length: 7.38em;
  --top-offset: 24.55vh;
  --fall-duration: 7.741s;
  --fall-delay: 5.132s;
}
.star:nth-child(43) {
  --star-tail-length: 7.45em;
  --top-offset: 15.53vh;
  --fall-duration: 10.212s;
  --fall-delay: 5.729s;
}
.star:nth-child(44) {
  --star-tail-length: 6.72em;
  --top-offset: 19.2vh;
  --fall-duration: 11.689s;
  --fall-delay: 8.205s;
}
.star:nth-child(45) {
  --star-tail-length: 6.16em;
  --top-offset: 9.06vh;
  --fall-duration: 7.476s;
  --fall-delay: 0.213s;
}
.star:nth-child(46) {
  --star-tail-length: 6.22em;
  --top-offset: 98.27vh;
  --fall-duration: 7.471s;
  --fall-delay: 4.177s;
}
.star:nth-child(47) {
  --star-tail-length: 6.2em;
  --top-offset: 58.68vh;
  --fall-duration: 8.217s;
  --fall-delay: 1.173s;
}
.star:nth-child(48) {
  --star-tail-length: 5.72em;
  --top-offset: 26.79vh;
  --fall-duration: 11.871s;
  --fall-delay: 5.13s;
}
.star:nth-child(49) {
  --star-tail-length: 6.19em;
  --top-offset: 90.26vh;
  --fall-duration: 6.281s;
  --fall-delay: 6.954s;
}
.star:nth-child(50) {
  --star-tail-length: 5.04em;
  --top-offset: 82.49vh;
  --fall-duration: 6.69s;
  --fall-delay: 5.287s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}